@media screen 
{
  article {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 2px solid black;
  }
  
  .padrao {
    position: relative;
    padding: 5px;
    top: 5px;
    left: 5px;
    border-width: 2px;
    border-style: solid;
  }
  div.logo {
    border-color: yellow;
    background-repeat: no-repeat;
    background-position: center; 
  }
  
  header {
    border-color: blue;
  }
  
  section {
    border-color: green;
  }
}